@using OnlineShop.Core.Services.Interfaces
@model OnlineShop.DataLayer.Entities.Order.Order
@inject IUserService UserService
@{
    ViewData["Title"] = "سبد خرید";
    int orderSum = Model.OrderSum;
    var discountType = ViewBag.discounttype;
}
<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/">فروشگاه آنلاین رویا</a></li>
            <li><a>@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>
<div class="row bottom-margin featured-row">
    <partial name="_SideBar" />
    <div class="small-6 small-centered medium-9 medium-uncentered large-9 large-uncentered featured-row columns">
        <div class="lft-module-heading">
            <h1>سبد خرید شما</h1>
        </div>
        <div class="fr-border"></div>
        <!-- Breadcrumb -->
        <!-- Page Content Holder -->
        <div class="row featured-row">
            <!-- Item List -->
            @if (!Model.IsFinally)
            {
                @foreach (var detail in Model.OrderDetails)
                {
                    <div class="small-10 small-centered large-12 medium-12 medium-uncentered large-uncentered columns shopping-cart-list ">
                        <div class="small-12 small-centered medium-2 medium-uncentered large-2 shopping-cart-thumb large-uncentered columns">
                            <img src="/product/thumb/@detail.Product.ProductImageName" alt="تصویر" />
                        </div>
                        <!-- End Thumb -->
                        <!-- Content -->
                        <div class="small-12 small-centered medium-8 medium-uncentered large-9 large-uncentered columns">
                            <!-- Title -->
                            <div class="product-detail-title  shopping-cart-item-title">
                                <a href="/showproduct/@detail.Product.ProductId" title="Cool water Perfume">
                                    @detail.Product.ProductName
                                </a>
                            </div>
                            <!-- End Title -->
                            <div class="main-price shopping-cart-item-price">
                                قیمت محصول: @detail.Price.ToString("#,0 تومان")
                            </div>

                            <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered shopping-cart-product-size columns">
                                <div class="product-attr-text">
                                    سایز محصول: @detail.Product.ProductSize
                                </div>
                            </div>

                            <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered shopping-cart-product-size columns">
                                <div class="product-attr-text">
                                    رنگ محصول: @detail.Product.ProductColor
                                </div>
                            </div>

                            <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered columns">
                                <div class="product-attr-text q-lineheight">
                                    تعداد: @detail.Quantity
                                </div>
                            </div>
                            <!-- End Product Quantity -->
                        </div>
                        <!-- End Content  -->
                        <!-- Remove Button -->
                        <div class="small-12 text-center medium-1 large-1 large-uncentered shp-remove-btn medium-uncentered columns">
                            <div class="continue-button">
                                <a href="/UserPanel/Order/DeleteOrderDetail/@detail.OrderDetailId" title="remove item">
                                    X
                                </a>
                            </div>
                        </div>
                        <div class="clearing"></div>
                    </div>
                }
            }
            else
            {
                @foreach (var detail in Model.OrderDetails)
                {
                    <div class="small-10 small-centered large-12 medium-12 medium-uncentered large-uncentered columns shopping-cart-list ">
                        <div class="small-12 small-centered medium-2 medium-uncentered large-2 shopping-cart-thumb large-uncentered columns">
                            <img src="/product/thumb/@detail.Product.ProductImageName" alt="تصویر" />
                        </div>
                        <!-- End Thumb -->
                        <!-- Content -->
                        <div class="small-12 small-centered medium-8 medium-uncentered large-9 large-uncentered columns">
                            <!-- Title -->
                            <div class="product-detail-title  shopping-cart-item-title">
                                <a href="/showproduct/@detail.Product.ProductId" title="Cool water Perfume">
                                    @detail.Product.ProductName
                                </a>
                            </div>
                            <!-- End Title -->
                            <div class="main-price shopping-cart-item-price">
                                قیمت محصول: @detail.Price.ToString("#,0 تومان")
                            </div>

                            <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered shopping-cart-product-size columns">
                                <div class="product-attr-text">
                                    سایز محصول: @detail.Product.ProductSize
                                </div>
                            </div>

                            <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered shopping-cart-product-size columns">
                                <div class="product-attr-text">
                                    رنگ محصول: @detail.Product.ProductColor
                                </div>
                            </div>

                            <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered columns">
                                <div class="product-attr-text q-lineheight">
                                    تعداد: @detail.Quantity
                                </div>
                            </div>
                            <!-- End Product Quantity -->
                        </div>
                        <!-- End Content  -->
                        <div class="clearing"></div>
                    </div>
                }
            }

            <!-- End item list -->
            <!-- Total -->

            <div class="small-12 small-centered large-uncentered medium-uncentered large-12 medium-6 cart-total columns">
                @if (!Model.IsFinally)
                {
                    <div class="clearing"></div>
                    <div class="payment-way box-shadow">
                        <span>کد تخفیف</span>
                        <div class="selected-ways">
                            <form action="/userpanel/order/usediscount" method="post">
                                <input type="hidden" name="orderId" value="@Model.OrderId" />
                                <input type="text" name="code" class="form-control" />
                                <input type="submit" class="btn-primary btn-outline btn-block" value="اعمال" />
                            </form>
                            @if (discountType != null)
                            {
                                switch (discountType)
                                {
                                    case "Success":
                                    {
                                        <div class="alert-success">
                                            <p class="text-muted">
                                                کد با موفقیت اعمال شد
                                            </p>
                                        </div>
                                        break;
                                    }

                                    case "NotFound":
                                    {
                                        <div class="alert-danger">
                                            <p class="text-muted">
                                                کد وارد شده صحیح نیست !
                                            </p>
                                        </div>
                                        break;
                                    }

                                    case "Expired":
                                    {
                                        <div class="alert-danger">
                                            <p class="text-muted">
                                                تاریخ استفاده از این کد به پایان رسیده !
                                            </p>
                                        </div>
                                        break;
                                    }

                                    case "Finished":
                                    {
                                        <div class="alert-danger">
                                            <p class="text-muted">
                                                کد وارد شده معتبر نیست !
                                            </p>
                                        </div>
                                        break;
                                    }

                                    case "Used":
                                    {
                                        <div class="alert-danger">
                                            <p class="text-muted">
                                                کد وارد شده قبلا استفاده شده !
                                            </p>
                                        </div>
                                        break;
                                    }
                                }
                            }
                        </div>
                      
                    </div>
                }
                <div class="clearing"></div>
                @*       <div class="payment-way box-shadow">
                <span> انتخاب نحوه پرداخت </span>
                <div class="selected-ways">
                <ul>
                <li style="margin-top:15px;">
                <input type="radio" id="payment-gateway" class="order-payment" value="OnlinePayment" checked="" data-val="true" data-val-required="The PaymentType field is required." name="PaymentType">
                <label for="payment-gateway"> درگاه پرداخت آنلاین </label>
                </li>
                <li style="margin-top:5px;">
                <input type="radio" id="wallet-way" class="order-payment" value="Wallet" name="PaymentType">
                <label for="wallet-way">کیف پول ( موجودی : @UserService.UserBalance(User.Identity.Name).ToString("#,0 تومان")))</label>
                </li>
                <br>
                </ul>
                </div>
                </div> *@
                @if (!Model.IsFinally && ViewBag.quantity == false)
                {
                    <div class="small-12 small-centered large-uncentered medium-uncentered large-12 medium-6 cart-total columns" style="margin-top:20px;">
                        جمع فاکتور: @orderSum.ToString("#,0 تومان")
                    </div>
                    <div class="small-12 large-12 cart-checkout-button left medium-6 columns" style="margin-top:20px;">
                        @if (UserService.UserBalance(User.Identity.Name) >= orderSum)
                        {
                            <a href="/UserPanel/Order/FinallyOrder/@Model.OrderId" class="small-12 large-12 medium-12 btn btn-3 btn-3b text-center">ثبت و تایید نهایی فاکتور</a>
                        }
                        else
                        {
                            <a class="small-12 large-12 medium-12 btn btn-3 btn-3b text-center" disabled="">ثبت و تایید نهایی فاکتور</a>
                            <div class="alert alert-danger text-center" style="margin-top:20px;">
                                موجودی کیف پول شما کافی نمی باشد، می توانید از طریق این <a href="/userPanel/wallet" class="alert-link">لینک</a> حساب خود را شارژ کنید
                            </div>
                        }
                    </div>
                }
                @if (ViewBag.finaly == true)
                {
                    <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered columns text-center">
                        <div class="input-group contact-item text-center" style="margin:8px;">
                            <i>فاکتور شما با موفقیت پرداخت گردید !</i>
                        </div>
                    </div>
                    <script>
                        // Your delay in milliseconds
                        var delay = 2000;
                        setTimeout(function () { window.location = "/userpanel/order/emptycart"; }, delay);
                    </script>
                }
                @if (ViewBag.quantity == true)
                {
                    <div class="small-12 small-centered medium-12 medium-uncentered large-12 large-uncentered columns text-center">
                        <div class="input-group contact-item text-center" style="margin:8px;">
                            <i> کاربر گرامی تعداد محصول انتخاب شده بیشتر از موجودی سایت است !</i>
                        </div>
                    </div>
                }
            </div>
            <!-- Check out button -->
        </div>
        <!-- End Page Content Holder -->
    </div>
</div>
<!-- End Page Content Holder -->
