@using OnlineShop.Core.Convertors
@model OnlineShop.Core.DTOs.User.UserInformationViewModel
@{
    ViewData["Title"] = "پنل کاربری" + " " + Model.FullName;
}

<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/">فروشگاه آنلاین رویا</a></li>
            <li><a>@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>
<div class="row bottom-margin featured-row">
    <partial name="_SideBar"/>
    <div class="small-6 small-centered medium-9 medium-uncentered large-9 large-uncentered featured-row columns">
        <div class="lft-module-heading">
            دشبورد
        </div>
        <ul class="cat-listing">
            <h1>اطلاعات کاربری</h1>
            <div class="fr-border"></div>
            <li>
                <p>
                    نام و نام خانوادگی:  @Model.FullName
                </p>
            </li>
            <li>
                <p>
                    نام کاربری:  @Model.UserName
                </p>
            </li>
            <li>
                <p>
                    ایمیل:  @Model.Email
                </p>
            </li>
            <li>
                <p>
                    موبایل:  @Model.Phone
                </p>
            </li>
            <li>
                <p>
                    آدرس:  @Model.Address
                </p>
            </li>
            <li>
                <p>
                    تاریخ عضویت:  @Model.RegisterDate.ToShamsi()
                </p>
            </li>
            <li>
                <p>
                     موجودی حساب:  @Model.Wallet.ToString("#,0 تومان")
                </p>
            </li>
        </ul>
    </div>
</div>

