@using OnlineShop.Core.Convertors
@using OnlineShop.Core.DTOs.Wallet
@model OnlineShop.Core.DTOs.Wallet.ChargeWalletViewModel
@{
    ViewData["Title"] = "کیف پول شما";
}
<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/">فروشگاه آنلاین رویا</a></li>
            <li><a>@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>
<div class="row bottom-margin featured-row">
    <partial name="_SideBar" />
    <div class="small-6 small-centered medium-9 medium-uncentered large-9 large-uncentered featured-row columns">
        <div class="lft-module-heading">
            @ViewData["Title"]
        </div>
        <h1>شارژ کیف پول</h1>
        <div class="fr-border"></div>
        <div class="small-6 small-centered medium-12 medium-uncentered large-12 large-uncentered featured-row columns">
            <form asp-action="Index" class="form" method="post">
                <div class="input-group" style="margin-top: 15px; width: 50%;">
                    <span class="input-group-addon"><i>مبلغ :</i></span>
                    <input type="number" asp-for="Amount" class="form-control" placeholder="مبلغ به ریال ..." />
                </div>
                <div style="margin-top: 15px;">
                    <button class="btn-sm btn-xs btn-success">شارژ کیف پول</button>
                </div>

                <div asp-validation-summary="All" style="margin-top: 15px;"></div>
            </form>
            <hr />
            @{
                List<WalletViewModel>? Wallets = ViewBag.WalletList as List<WalletViewModel>;
            }
            <table class="form table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>تاریخ</th>
                        <th>مبلغ</th>
                        <th>نوع تراکنش</th>
                        <th>شرح</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var wallet in Wallets)
                    {
                        <tr>
                            <th class="text-center">@wallet.CreateDate.ToShamsi()</th>
                            <td class="text-center">@wallet.Amount.ToString("#,0 تومان")</td>
                            <td class="text-center">
                                @if (wallet.TypeId == 1)
                                {
                                    <p class="text-success">واریز</p>
                                }
                                else
                                {
                                    <p class="text-danger">برداشت</p>
                                }
                            </td>
                            <td class="text-center">@wallet.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

