@page "{id}"
@using OnlineShop.Core.DTOs.Product
@using OnlineShop.DataLayer.Entities.Product
@model OnlineShop.Web.Pages.Admin.Products.EditProductModel
@{
    ViewData["Title"] = "ویرایش محصول";
}
<div class="col-lg-12">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />
<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Product.ProductId" />
        <input type="hidden" asp-for="@Model.Product.ProductImageName" />
        <input type="hidden" asp-for="@Model.Product.CreateDate" />
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    اطلاعات محصول
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label>نام محصول </label>
                        <input type="text" asp-for="Product.ProductName" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>گروه اصلی</label>
                        <select type="text" asp-for="Product.ProductGroupId" asp-items="@(ViewData["MainGroups"] as SelectList)" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label>گروه فرعی</label>
                        <select type="text" asp-for="Product.SubGroup" asp-items="@(ViewData["SubMainGroups"] as SelectList)" class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <label>قیمت محصول</label>
                        <input type="number" asp-for="Product.ProductPrice" class="form-control"></input>
                    </div> 

                    <div class="form-group">
                        <label>سایز محصول</label>
                        <input type="text" asp-for="Product.ProductSize" class="form-control"></input>
                    </div> 
                    
                    <div class="form-group">
                        <label>رنگ محصول</label>
                        <input type="text" asp-for="Product.ProductColor" class="form-control"></input>
                    </div>

                    <div class="form-group">
                        <label>تعداد </label>
                        <input type="number" asp-for="Product.Quantity" class="form-control"></input>
                    </div>

                    <div class="form-group">
                        <label>شرح محصول</label>
                        <textarea type="text" rows="4" asp-for="Product.Description" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label>سئو</label>
                        <textarea type="text" rows="4" asp-for="Product.SeoDescription" class="form-control"></textarea>
                    </div>

                    <div class="form-group">
                        <label>برچسب ها </label>
                        <input type="text" rows="7" asp-for="Product.Tags" class="form-control"></input>
                        <p class="help-block">
                            کلمات را با '-' جدا کنید !
                        </p>
                    </div>
                    <hr />

                    <button type="submit" class="btn btn-group-lg btn-success">ذخیره تغییرات</button>
                    <div asp-validation-summary="All"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    تصویر پروفایل
                </div>
                <div class="panel-body">
                    <img class="thumbnail" src="/product/images/@Model.Product.ProductImageName" id="img" style="max-width: 300px; max-height: 450px;" />
                    <div class="form-group">
                        <label>انتخاب تصویر</label>
                        <input type="file" id="imgInp" name="imgProductUp" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <script>
        imgInp.onchange = evt => {
            const [file] = window.imgInp.files;
            if (file) {
                window.img.src = URL.createObjectURL(file);
            }
        }
    </script>

    <script>
        $("#Product_ProductGroupId").change(function () {
            $("#Product_SubGroup").empty();
            $.getJSON("/home/GetSubGroups/" + $("#Product_ProductGroupId :selected").val(),
                function (data) {

                    $.each(data,
                        function () {
                            $("#Product_SubGroup").append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });
    </script>
}