@model OnlineShop.DataLayer.Entities.Product.Product
@{
    ViewData["Title"] = Model.ProductName;
}
@section MetaTag
{
    <meta name=googlebot content=index,follow>
    <meta name=robots content=noodp,noydir>
    <meta name=description content="@Model.SeoDescription">

    <meta property=og:site_name value="فروشگاه آنلاین رویا">
    <meta property=og:title content="@Model.ProductName">
    <meta property=og:url content="https://royaonlineshop.shop/ShowProduct/@Model.ProductName" />
    <meta property=og:image content="/product/images/@Model.ProductImageName">
    <meta property=og:image:url content="/product/images/@Model.ProductImageName" />
    <meta property=og:image:width content="700">

    <meta property=og:image:type content="image/jpg">
    <meta property=og:description content="@Model.SeoDescription">
    <meta property=og:price:currency content="IRR">
    <meta property=og:locale content="ir_FA">
}
<!-- Breadcrumb -->
<div class="breadcrumb-holder">
    <!-- Content Row -->
    <div class="row">
        <ul class="breadcrumbs small-12 medium-8 large-8 columns">
            <li><a href="/" title="Homepage">صفحه اصلی</a></li>
            <li><a title="product grid">@ViewData["Title"]</a></li>
        </ul>
    </div>
    <!-- End Content Row -->
</div>
<!-- End BreadCrumb -->
<!-- Page Content Holder -->
<div class="row">
    <!-- Product Thumb -->
    <div class="small-12 small-centered medium-4 medium-uncentered large-3 large-uncentered product-thumb columns">
        <!-- Product Main Photo -->
        <div class="product-main-photo">
            <img class="p-photo" src="/product/images/@Model.ProductImageName" alt="Product Main Thumb" />
        </div>
        <!-- End product main photo -->
    </div>
    <!-- End Product Thumb -->
    <!-- Product Description -->
    <div class="small-12 small-centered medium-5 medium-uncentered large-5 large-uncentered product-description columns">
        <!-- Title -->
        <div class="product-detail-title">
            @Model.ProductName
        </div>
        <!-- End Title -->
        <!-- Description -->
        <div class="product-detail-description">
        </div>
        <!-- End Description -->
        <!-- Border -->
        <div class="fr-border"></div>
        <!-- Product Size -->
        <div class="small-12 small-centered medium-6 medium-uncentered large-6 large-uncentered columns">
            <div class="product-attr-text">سایز:</div>
            <div class="clearing"></div>
            @Model.ProductSize
        </div>
        <!-- End Product Size -->
        <!-- Stock -->
        <div class="small-10 small-centered medium-6 medium-uncentered large-6 large-uncentered columns">
            @if (Model.Quantity == 0)
            {
                <div class="small-10 small-centered medium-6 medium-uncentered large-5 large-uncentered columns">
                    <div class="product-attr-text">
                        <span>ناموجود</span>
                    </div>
                </div>
            }
            else if (Model.Quantity <= 5)
            {
                <div class="small-10 small-centered medium-6 medium-uncentered large-8 large-uncentered columns">
                    <div class="product-attr-text">
                        <span>@Model.Quantity عدد در انبار باقیمانده</span>
                    </div>
                </div>
            }
        </div>
        <!-- End Stock -->
        <div class="clearing"></div>
        <!-- Border -->
        <div class="fr-border"></div>
        <!-- Product Quantity -->
        <div class="small-12 small-centered medium-6 medium-uncentered large-7 large-uncentered columns">
            <div class="product-attr-text q-lineheight">با لایک کردن این محصول، آنرا به دیگران هم پیشنهاد دهید.</div>
        </div>
        <!-- End Product Quantity -->
        <!-- Add to wishlist + compare -->
        <div class="small-10 small-centered medium-6 medium-uncentered large-5 large-uncentered q-lineheight columns">
            <div class="f-button">
                <a href="#" title="Add to Wishlist">
                    <i class="icon-heart"></i>
                </a>
                <p>1000</p>
            </div>
        </div>
        <!-- End Add to wishlist + compare -->
        <div class="clearing"></div>
        <!-- Border -->
        <div class="fr-border"></div>
        <!-- Product Price and Add To Cart -->
        <div class="small-12 small-centered medium-5 medium-uncentered large-6 q-lineheight large-uncentered columns">
            <div class="main-price">
                @Model.ProductPrice.ToString("#,0 تومان")
            </div>
        </div>
        <!-- End Product Price -->
        <!-- Add To Cart -->
        <div class="small-12 small-centered medium-7 medium-uncentered large-6 large-uncentered q-lineheight cart-area columns">
            @if (Model.Quantity == 0)
            {
                <div class="continue-button">
                    <a href="" title="Add to cart">
                        <i class="icon-cart"></i>
                        اتمام موجودی
                    </a>
                </div>
            }
            else
            {
                <div class="continue-button">
                    <a href="/product/addtocart/@Model.ProductId" title="Add to cart">
                        <i class="icon-cart"></i>
                        اضافه کردن به سبد
                    </a>
                </div>
            }
        </div>
        <!-- End Add to Cart -->
        <div class="clearing"></div>
        <!-- Border -->
        <div class="fr-border"></div>
        <!-- End Product Price and Add to cart -->
        <!-- Product Rating -->
        <div class="small-6 medium-5 large-5 columns">
            <div class="product-rating">
                <i class="icon-star"></i>
            </div>
            <div class="product-rating">
                <i class="icon-star"></i>
            </div>
            <div class="product-rating">
                <i class="icon-star"></i>
            </div>
            <div class="product-rating">
                <i class="icon-star"></i>
            </div>
            <div class="product-rating">
                <i class="icon-star"></i>
            </div>
        </div>
        <!-- End Product Rating -->
        <!-- Product Review Links -->
        <div class="small-6 medium-6 large-6 ratinglink columns">
            <div class="rating-link">
                <a title="View Reviews">رضایت مشتریان از این محصول</a>
            </div>
        </div>
        <div class="clearing"></div>
        <script type="text/javascript">var switchTo5x = true;</script>
        <script type="text/javascript" src="https://w.sharethis.com/button/buttons.js"></script>
        
        <script type="text/javascript">stLight.options({ publisher: "ur-91f7351c-4e1e-33ef-9cac-f7276559ca2f", doNotHash: false, doNotCopy: false, hashAddressBar: false });</script>
        <!-- Share Widget -->
        <div class="share-widget">
        </div>
        <!-- End Share Widget -->
    </div>
    <!-- End Product Description -->
    <div class="clearing"></div>
    <!-- PAGE TABS -->
    <ul class="tabs">
        <li>
            <a id="#tab0" class="active">
                توضیحات
            </a>
        </li>
        <li>
            <a id="#tab1">
                نظرات شما
            </a>
        </li>
        <li>
            <a id="#tab2">
                برچسب ها
            </a>
        </li>
    </ul>
    <!-- Tab 0  -->
    <div class="tab-content small-12 medium-12 large-12 columns" id="tab0" style="display:block;">
        <!-- Description -->
        <div class="product-detail-description">
            @Model.Description
        </div>
        <!-- End Description -->
    </div>
    <!-- Tab1 -->
    <div class="tab-content small-12 medium-12 large-12 columns" id="tab1">
        <!-- Review -->
        <div class="row">
            <!-- Reviews -->
            <div class="small-12 medium-5 large-5 columns" id="listcomment">
                <h1>
                    نظرات مشتریان
                </h1>
                <div class="fr-border"></div>

            </div>
            <!-- End Reivewis -->
            <!-- Write a Review -->
            <div class="small-12 medium-5 large-6 columns">
                <h1>ثبت نظر</h1>
                <div class="fr-border"></div>
                <!-- Form -->
                @if (User.Identity.IsAuthenticated)
                {
                    <form class="active" asp-controller="Product" asp-action="CreateComment" id="review_form"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-mode="replace"
                          data-ajax-update="#listcomment"
                          data-ajax-success="Success">

                        <input type="hidden" name="comment.ProductId" value="@Model.ProductId" />

                        <label>
                            متن
                        </label>
                        <textarea name="comment.Comment" id="comment_Comment"></textarea>
                        <button class="form-btn" type="button">ثبت نظر</button>
                    </form>
                }
                else
                {
                    <div>
                        <span>
                            جهت درج نظر باید وارد سایت شوید !
                        </span>
                    </div>
                }

            </div>
        </div>
        <!-- End Review Module -->
    </div>
    <!-- Tab2 -->
    <div class="tab-content small-12 medium-12 large-12 columns" id="tab2">
        @if (Model.Tags != null)
        {
            @foreach (string tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
            {
                <a href="/Product?filterName=@tag">@tag</a>
            }
        }
    </div>
</div>
<!-- End Page Content Holder -->
@section Scripts
{
    <script src="/js/jquery.unobtrusive-ajax.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function Success() {
            $("#comment_Comment").val("");
        }

        $(function () {
            $("#listcomment").load("/Product/ShowComments/" + @Model.ProductId);
        });

        function pageComment(pageid) {
            $("#listcomment").load("/Product/ShowComments/" + @Model.ProductId+"?pageid=" + pageid);
        }
    </script>
}

