@page "{id}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OnlineShop.DataLayer.Entities.Permission
@model OnlineShop.Web.Pages.Admin.Roles.EditRoleModel
@{
    ViewData["Title"] = "ویرایش نقش";
    List<Permission> permissions = ViewData["PermissionList"] as List<Permission>;
}
<div class="col-lg-12">
    <h1>@ViewData["Title"]</h1>
</div>
<hr />
<div class="row">
    <form method="post">
        <input type="hidden" asp-for="Role.RoleId" />
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    نقش
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان نقش</label>
                        <input type="text" asp-for="Role.RoleTitle" class="form-control">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-group-lg btn-success">ویرایش نقش</button>
                        <div asp-validation-summary="All"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    دسترسی های نقش
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>دسترسی ها</label>
                        <hr />
                        @{
                            List<int> PermissionsRole = ViewData["SelectedPermissions"] as List<int>;
                        }
                        <ul>
                            @foreach (var permission in permissions.Where(w => w.ParentId == null))
                            {
                                <li>
                                    <input type="checkbox" name="SelectedPermission" value="@permission.PermissionId" @((PermissionsRole.Any(a => a == permission.PermissionId) ? "checked" : "")) />@permission.PermissionTitle
                                    @if (permissions.Any(a => a.ParentId == permission.PermissionId))
                                    {
                                        <ul>
                                            @foreach (var subPermission in permissions.Where(w => w.ParentId == permission.PermissionId))
                                            {
                                                <li>
                                                    <input type="checkbox" name="SelectedPermission" value="@subPermission.PermissionId" @((PermissionsRole.Any(a => a == subPermission.PermissionId) ? "checked" : "")) />@subPermission.PermissionTitle
                                                    @if (permissions.Any(a => a.ParentId == subPermission.PermissionId))
                                                    {
                                                        <ul>
                                                            @foreach (var subSubPermission in permissions.Where(w => w.ParentId == subPermission.PermissionId))
                                                            {
                                                                <li>
                                                                    <input type="checkbox" name="SelectedPermission" value="@subSubPermission.PermissionId" @((PermissionsRole.Any(a => a == subSubPermission.PermissionId) ? "checked" : "")) />@subSubPermission.PermissionTitle
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>